body{
    margin:0;
    font-family: Helvetica, Arial, sans-serif;
    font-size:20px;
    line-height:30px;
    background-color: #e2ffea;
}
/* header styles */
header{
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,121,50,1) 100%, rgba(0,212,255,1) 100%);
    text-align:center;
    padding-top:50px;
    padding-bottom: 50px;
}
h1, h2{
    font-family: "Bangers", system-ui;
    letter-spacing: 8px;
}

h2{
    font-size:30px;
    color: #08ec5c;
    margin: 40px 0 10px;
}
header h1{
    color:white;
    font-size:50px;
}
header img{
    border-radius: 50%;
    width:360px;
    border: 20px solid white;
}

main{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

main img{
    max-width: 100%;
    width: 100%;
}
a{
    color:#08ec5c;
}
a:hover{
    color:white;
    background-color:#0d1b09;
}

footer{
    background-color: #08170c;
    text-align:center;
    color:white;
    padding: 30px;
}
footer p{
    margin: 0;
}

p.caption{
    color:#999999;
    font-style: italic;
    margin-top:0;
}